PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX sio: <https://sio.semanticscience.org/resource/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX ordo: <http://www.orpha.net/ORDO/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT distinct ?person_id ?gender_concept_id ?Year_of_birth ?Month_of_birth ?Day_of_birth ?Birth_datetime ?race_concept_id ?Ethnicity_concept_id ?location_id ?provider_id ?care_site_id ?person_source_value ?gender_source_value ?gender_source_concept_id ?race_source_Value ?race_source_concept_id ?ethnicity_source_value ?ethnicity_source_concept_id
WHERE {
    GRAPH ?sex_g {

        ?sex_role sio:SIO_000356 ?sex_process ;  a sio:SIO_000016 .
        ?sex_process sio:SIO_000229 ?sex_output ; a sio:SIO_000006 , ?sex_process_type ; rdfs:label ?sex_process_label ; sio:SIO_000291 ?sex_target; sio:SIO_000230 ?sex_input; sio:SIO_000552 ?sex_route.			FILTER (?sex_process_type != sio:SIO_000006) .
        OPTIONAL {?sex_process rdfs:label ?sex_comments}
        ?sex_output sio:SIO_000628 ?sex_attribute ;a sio:SIO_000015 , ?sex_output_type ; rdfs:label ?sex_output_label .FILTER (?sex_output_type != sio:SIO_000015) .
        ?sex_attribute a sio:SIO_000614, ?gender_source_value ; sio:SIO_000332 obo:NCIT_C28421. 
        FILTER (?sex_attribute_type != sio:SIO_000614 && ?gender_source_value != sio:SIO_000614)
        
    }
    ?sex_g a obo:NCIT_C25616 ; sio:SIO_000068 ?sex_timeline ; sio:SIO_000068 ?sex_context ; sio:SIO_000680 ?sex_startdate ; sio:SIO_000681 ?sex_enddate .
    ?sex_context a obo:NCIT_C25616 ; sio:SIO_000300 ?sex_context_id .
    ?sex_startdate a sio:SIO_000031 ; sio:SIO_000300 ?sex_value_startdate .
    ?sex_enddate a sio:SIO_000032 ; sio:SIO_000300 ?sex_value_enddate . 
    ?sex_timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?sex_individual .
    ?sex_individual a sio:SIO_000498 ; sio:SIO_000671 ?sex_individual_identifier .       
    ?sex_individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?person_source_value.


    GRAPH ?dob_g {

        ?dob_role sio:SIO_000356 ?dob_process ;  a sio:SIO_000016 .
        ?dob_process sio:SIO_000229 ?dob_output ; a sio:SIO_000006 , ?dob_process_type ; rdfs:label ?dob_process_label ; sio:SIO_000291 ?dob_target; sio:SIO_000230 ?dob_input; sio:SIO_000552 ?dob_route.			FILTER (?dob_process_type != sio:SIO_000006) .
        OPTIONAL {?dob_process rdfs:label ?dob_comments}
        ?dob_output sio:SIO_000628 ?dob_attribute ;a sio:SIO_000015 , ?dob_output_type ; rdfs:label ?dob_output_label .FILTER (?dob_output_type != sio:SIO_000015) .
        ?dob_output sio:SIO_000300 ?Birth_datetime.
        ?dob_attribute a sio:SIO_000614, obo:NCIT_C68615 ; sio:SIO_000332 ?dob_attribute_type. 
        FILTER (?dob_attribute_type != sio:SIO_000614 && ?dob_attribute_id != sio:SIO_000614)
        
    }
    ?dob_g a obo:NCIT_C25616 ; sio:SIO_000068 ?dob_timeline ; sio:SIO_000068 ?dob_context ; sio:SIO_000680 ?dob_startdate ; sio:SIO_000681 ?dob_enddate .
    ?dob_context a obo:NCIT_C25616 ; sio:SIO_000300 ?dob_context_id .
    ?dob_startdate a sio:SIO_000031 ; sio:SIO_000300 ?Birth_datetime_startdate .
    ?dob_enddate a sio:SIO_000032 ; sio:SIO_000300 ?Birth_datetime_enddate . 
    ?dob_timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?dob_individual .
    ?dob_individual a sio:SIO_000498 ; sio:SIO_000671 ?dob_individual_identifier .       
    ?dob_individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?person_source_value.

}